/*retro*/
a{
	padding-right:5px;
	text-decoration:none;
}
i{
	padding-right:5px;
}
.text a{
	padding-right:30px;
	position:relative;
}
.text a:hover{
	
	animation-name:shake;
	animation-duration:0.5s;
	
}



.backgimg {
    background-image:url("backg.png");
	background-size:cover;
	width: 100%;
    height: 100%;
    background-repeat: no-repeat;
	margin-bottom:50px;
    

}

.text{
	color:white;
	padding-top:20px;
	padding-left:80px;
	padding-bottom:40px;
	
	
}
.text div{
	
}
.text p {
    display: inline;
    color: white;
    padding-right: 25px;
	margin-bottom:1rem;
	
}
.righthead{
	float:right;
	font-size:18px;
	margin-right:100px;
}

.righthead i{
	padding-right:10px;
}
.text a{
	color:white;
	text-decoration:none;

}
hr{

  border:none;
  border-top:1px dashed grey;
  color:#fff;
 
  height:1px;
  width:100%;
}
.text2{
	color:white;
	padding-left: 80px;
    padding-top: 20px;
	padding-bottom:20px;
    font-size: 16px;
}

.text2 p{
	display:inline;
	padding-right:20px;
}
.righttext{
	float:right;
	margin-right:80px;
}

.titlet {
    color: rgba(18, 168, 78, 255);
    font-size: 28px;
	font-family:Helvetica;
}

.text3{
	color: white;
    text-align: center;
}
.t3{
	font-family:Segoe Script;
	font-size:38px;
}
.t4{
	font-family: Open Sans, sans-serif;
	text-decoration:bold;
	font-size:50px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.t5:hover{
    cursor: pointer;
	color:black;
	background:white;
}
.t5{
	font-size: 18px;
    color: rgba(18, 168, 78, 255);
    text-align:right;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
	margin-bottom:30px;
	background-color: #f8f9fa;
    border-color: #f8f9fa;
	
}

#sep1{
	border: 2px solid #5CBB88;
	width:900px;
	margin:auto;

}
#head2{
	color:#5CBB88;
}

.p1{
	padding-left:20px;
}

#sep2{
	border: 2px solid #5CBB88;
	width:900px;
	margin:auto;
}


.pic2{
	max-height:100%;
	max-width:100%;
	object-fit:cover;
	float:left;
	padding-right:20px;
	transition:transform .2s;
	
	
}








.login a:hover{
	cursor:pointer;
	color:red;
}

.lists1 p{
	display:inline;
	padding:5px;
	color:black;
	font-family:Franklin Gothic Medium;
}
.lists2 p{
	display:inline;
	padding:5px;
	font-family:Franklin Gothic Medium;
}


#read{
	border:1px solid rgba(18, 198, 58, 255);
	display:inline-block;
	padding:5px;
	color:#5CBB88;
	padding: 10px 20px 10px 20px;
}
#read:hover{
	cursor:pointer;
	background:rgba(18, 200, 78, 255);;
	color:white;
}
.clear{
	clear:both;
}
	



#para1{
	padding-right:10px;
	float:right;
}

.prefoot{
	background:rgba(18, 168, 78, 255);
	width:100%;
	color:white;
	font-family:Helvetica;
	
}
#pre{
	padding-left:80px;
	
}

.opening .boxes {
    border-left: 1px solid white;
    padding-left:5px;
}

.prefoot div {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 15px;
	margin-left:90px;
	padding-bottom:10px;
	

}





.ffooter {
 background-color:black;
  background-position: center;
  color:white;
  width:100%;
  padding-top:20px;
  
  
}
#headd{
	color:rgba(18, 200, 100, 255);
	font-family:Helvetica;
}

.ffooter div{
	display:inline-block;
	padding-right:150px;
}
.lasthead{
	padding-left:80px;
}





#subs{
	border: 1px solid #5CBB88;
	display:inline-block;
	background:#5CBB88;
	color:white;
	padding:10px 20px 10px 20px;
}
#subs:hover{
	cursor:pointer;
	color:rgba(118, 68, 78, 255);
}
.clear{
	clear:both;
}

.lastf{
	text-align:center;
	margin-bottom:30px;
	margin-top:30px;
}






